<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.example.springcoreproject1_1.Student" name="student1">
        <property name="studentId">
            <value>1</value>
        </property>
        <property name="studentName">
            <value>shubham</value>
        </property>
        <property name="studentAddress">
            <value>nahan</value>
        </property>
    </bean>
    <bean class="com.example.springcoreproject1_1.Student" name="student2">
        <property name="studentId" value="2"/>
        <property name="studentName" value="Shubham2"/>
        <property name="studentAddress" value="Nahan2"/>
    </bean>

    <!-- Beans for Employee class -->
    <bean class="com.example.springcoreproject1_1.Employee" name="employee1">
        <property name="employeeId" value="1"/>
        <property name="coworkers">
            <list>
                <value>Rishabh</value>
                <value>Gian</value>
                <value>Bhagu</value>
                <value>Anamika</value>
            </list>
        </property>
        <property name="familyMembers">
            <set>
                <value>Kesar Singh</value>
                <value>Bharti Devi</value>
            </set>
        </property>
        <property name="childParent">
            <map>
                <entry key="shubham1" value="Bharti"/>
                <entry key="shubham2" value="kesar"/>
            </map>
        </property>
    </bean>

</beans>